<div class="page-controls">
	<a href="{{gird_url}}" class="view-products {{ view == 'home' ? 'active' : '' }}">View Products</a>
	<a href="?view=cart" class="view-products {{ view == 'cart' ? 'active' : '' }}">View Products Added (<span class="cart-count">{{cart_count}}</span>)</a>
	<a href="?view=imported" class="view-products {{ view == 'imported' ? 'active' : '' }}">View Imported Products (<span class="imported-count">{{imported_products_count}}</span>)</a>
</div>
