<div class="page-controls">
	<a href="{{gird_url}}" class="view-products {{ view == 'home' ? 'active' : '' }}"><i class="fa fa-list-ul" aria-hidden="true"></i> &nbsp;View Products</a>
	<a href="?view=cart" class="view-products {{ view == 'cart' ? 'active' : '' }}"><i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp;View Products Added (<span class="cart-count">{{cart_count}}</span>)</a>
	<a href="?view=imported" class="view-products {{ view == 'imported' ? 'active' : '' }}"><i class="fa fa-table" aria-hidden="true"></i> &nbsp;View Imported Products (<span class="imported-count">{{imported_products_count}}</span>)</a>
</div>
