<div class="row-prop">
	<div class="column-one-prop">
		<div class="importer-heading">
			<h1>
				{{ page_heading }}
			</h1>
			<div class="info-texts">
				<a href="#" onclick="addProductInfo()">
					<i class="fa fa-info-circle" aria-hidden="true"></i>
					How To Add Products</a>
				<a href="#" onclick="viewRevenueInfo()">
					<i class="fa fa-info-circle" aria-hidden="true"></i>
					About AllStuff420 Product Revenue</a>
			</div>
		</div>
		<div class="membership-plan-details">
			Current Plan :<span class="plan-name">{{ membership }}</span>
			{% if membership == 'QRx Dispensary Pro Plan' %}
				<span class="ctp-choose-plan-span">(

					<a href="#" id="changePlanMyAccountPro" class="changePlanMyAccountPro">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						Upgrade to Premium Plan</a>

					)</span>
			{% elseif membership == 'QRx Dispensary Premium Plan'  %}
				<span class="ctp-choose-plan-span">(
					<a href="#" id="changePlanMyAccount" class="changePlanMyAccount">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						Upgrade here to get more products</a>
					)</span>
			{% endif %}
		</div>
		<div class="user-product-counts">
			<div>TOTAL PRODUCTS ALLOWED<br>{{ max_products }}</div>
			<div>
				# OF PRODUCTS ADDED<br><span id="added_products_count">{{ cart_count + imported_products_count }}</span>
			</div>
			<div>
				REMAINING PRODUCTS ALLOWED<br><span id="remaining_products_count">{{max_products - (cart_count + imported_products_count) }}</span>
			</div>
		</div>
	</div>
</div>
