<div style="background:#fff; max-width: 720px; margin:0 auto;">
    <div style="background: url('https://qrxdispensary.com/wp-content/uploads/2021/03/Headlines.png'); height: 245px; background-size: cover;">

    </div>
	<div style="text-align:center; font-family:sans-serif; font-size:22px; padding:20px; margin-top: 25px;">
		DISPENSARY PRODUCT IMPORT UPDATE
	</div>
	<div style="font-family:sans-serif; font-size:16px; padding:20px 30px; line-height:25px;">
		Hi QRXDispensary Admin,<br>
		<br>
		{{user.display_name}} has imported  ({{ products|length }}) to his/her dispensary. Kindly verify the following:
	</div>
	<div>
		{% for product in products %}
		    <div style="display: inline-flex; align-items: center; margin: 10px 20px;">
                <div style="width: 25%; text-align: center;">
                    <img src="{{ product.image }}" style="width: 65%; height: auto;">
                </div>
                <div style="font-family:sans-serif;width: 80%; font-weight: 700; font-size: 14px;">
                    Product name: {{ product.name }}<br/>
                    Listing price: $ {{ product.price }}<br/>
                    SKU: {{ product.sku }}<br/>
                </div>
            </div>
		{% endfor %}
	</div>
	<div style="font-family:sans-serif; font-size:16px; padding:20px 30px; line-height:25px; margin-bottom: 25px">
		Once verified or should there be any issues, please inform the client immediately. 
	</div>
	<div style="background: url('https://qrxdispensary.com/wp-content/uploads/2021/03/bg-footer-email.png'); height: auto; background-size: cover; padding: 60px 25px; display: flex; justify-content: space-around;">
        <div style="">
            <div style="font-size: 20px; font-weight: 600; color: #ffffff; text-align: center; margin-bottom: 10px; text-transform: uppercase;">
                Follow Us For More Updates
            </div>
            <div style="display: inline-block; text-align: center;">
                <a href="#"><img src="https://qrxdispensary.com/wp-content/uploads/2021/03/icon-4.png" style="height: auto; width: 5%; margin: 0 15px;"></a>
                <a href="#"><img src="https://qrxdispensary.com/wp-content/uploads/2021/03/icon-3.png" style="height: auto; width: 5%; margin: 0 15px;"></a>
                <a href="#"><img src="https://qrxdispensary.com/wp-content/uploads/2021/03/icon-2.png" style="height: auto; width: 5%; margin: 0 15px;"></a>
                <a href="#"><img src="https://qrxdispensary.com/wp-content/uploads/2021/03/icon-1.png" style="height: auto; width: 5%; margin: 0 15px;"></a>
            </div>
        </div>
    </div>
	<div style="background:#2F73BA; padding:10px 0; color:#fff; font-size: 12px; text-align:center; font-family:sans-serif; font-weight: 400;">
		2021 © Copyright | Powered By
		<a href="http://www.qrxdigital.com" style="color:#fff;">QRx Digital Sales and Marketing Services</a>
		| All Rights Reserved
	</div>
</div>
