<div style="background:#fff; max-width:720px; margin:0 auto;">
	<div style="background:#2F73BA;padding:25px 0; color:#fff; text-align:center;">
		<img src="https://qrxdispensary.com/wp-content/uploads/2020/11/logo.png" height="80px">
	</div>
	<div style="text-align:center; font-family:sans-serif; font-size:22px; padding:20px;">
		Dispensary Import Product Report
	</div>
	<div style="font-family:sans-serif; font-size:16px; padding:20px 30px; line-height:25px;">
		Congratulations you've succesfully imported {{ products|length }} new products in your dispensary. Visit your site to view your new products or login to
		<a href="https://qrxdispensary.com">QRX Dispensary</a>
		to view your new products.
	</div>

	<div>
		{% for product in products %}
			<div style="display:inline; padding:20px 20px;">
				<img src="{{ function('wp_get_attachment_url', product.get_image_id()) }} " height="50px">
				<div style="display:inline-block; vertical-align:top; font-family:sans-serif; font-size:15px;">
					Product Name : {{ product.name }}<br>
					Listing Price: $ {{ product.price }} | SKU : {{ product.sku }}<br>
					From:
					<a href="https://allstuff420.com"><img src="https://allstuff420.com/wp-content/uploads/2021/01/Logo-updated-100x98.png" height="16px" style="vertical-align:bottom; margin-right:5px;">AllStuff420</a>
				</div>
			</div>
		{% endfor %}

	</div>
	<div style="background:#2F73BA;padding:25px 0; color:#fff; text-align:center; margin-top:50px; font-family:sans-serif; ">
		2021© Copyright | Powered By
		<a href="http://www.qrxdigital.com" style="color:#fff;">QRx Digital Sales and Marketing Services</a>
		| All Rights Reserved
	</div>
</div>
