<div class="qrxds-dashboard-content">
	<div class="qrxds-first-row">
		<div class="qrxds-subscription-overview-content">
			<h3 class="qrxds-dashboard-heading">Subscription Overview</h3>
			<div class="ctp-upgrade-prop">
				<span class="ctp-current-plan">Current Plan :
				</span>
				<span class="ctp-plan">{{ membership }}</span>
				{% if membership == 'QRX Dispensary Premium Plan' %}

					{% else %}
						<span class="ctp-choose-plan-span">(
							<span class="ctp-choose-plan">
								<a href="#" class="changePlanMyAccount" id="changePlanMyAccount">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									Click To Upgrade</a>
							</span>
							)</span>
				{% endif %}
			</div>
			<div class="ctp-total-products">
				<span class="ctp-total-products-allowed">TOTAL PRODUCTS ALLOWED</span>
				<br/>
				<span class="ctp-total-products-value">{{ max_products }}</span>
			</div>
		</div>
		<div class="qrxds-website-analytics-content">
			<h3 class="qrxds-dashboard-heading">Website Analytics</h3>
			<table>
				<tr>
					<th>Website Visitors</th>
					<th>Total Sales</th>
				</tr>
				<tr>
					<td>{{website_visitors_total}}</td>
					<td>$ 123</td>
				</tr>
			</table>
			<span class="qrxds-dashboard-awa">
				<a href="/my-account/website-analytics/">
					<i class="fa fa-cog fa-1" aria-hidden="true"></i>
					Advanced Website Analytics</a>
			</span>
		</div>
	</div>
	<div class="qrxds-second-row">
		<div class="qrxds-products-content">
			<h3 class="qrxds-dashboard-heading">Products</h3>
			<table class="product-info-table">
				<tr>
					<th># OF PRODUCTS ADDED</th>
					<th>REMAINING PRODUCTS ALLOWED</th>
				</tr>
				<tr>
					<td>{{ cart_count + imported_products_count }}</td>
					<td>{{max_products - (cart_count + imported_products_count) }}</td>
				</tr>
			</table>
			<h4>Add Bestseller To Your Store</h4>
			<div class="qrxds-products-list-content">
				<div class="products-list-content">
					<h5>HOT PRODUCTS</h5>
				</div>
			</div>
			<a href="/my-account/manage-products/">
				<button class="btn-manage-product">Manage All Products</button>
			</a>
		</div>
	</div>
</div>
