<div class="product-import-container">
	<h1>Enlisted Products</h1>

	{% include 'template-parts/plan-details.twig' %}
	{% include 'template-parts/page-controls.twig' %}


	<form id="productImportForm">
		<div class="enlist-actions">
			<a href="{{gird_url}}">Add Products</a>
		</div>
		<div class="product-import-cart-list">

			{% for product in imported_products %}


				<div class="product-cart-item" product-sku="{{ product.sku }}">
					<div class="product-cart-item-details">
						<div class="product-cart-item-image">

							<img src="{{ product.image }}">
						</div>
						<div class="product-cart-desc">
							<div class="name">{{ product.name }}</div>
							<div class="price">Original Price : $
								{{ product.original_price }}
								| Enlisting Price : $
								{{ product.price }}</div>
							<div class="price"></div>

							<div class="categories">Categories:
								{{ product.categories }}</div>
							<div class="tags">Tags:
								{{ product.tags }}</div>

							<div class="sku--rating">
								<div class="sku">SKU:
									{{ product.sku }}</div>
							</div>
							<div class="source-site">
								Source:
								<a href="https://allstuff420.com">All Stuff 420</a>
							</div>
						</div>
					</div>
					<div class="product-cart-item-action">
						<div class="listing-action">
							<button type="button" class="remove-product" onclick="removeFromStore(this, '{{ product.sku }}')">Delete Listing</button>
						</div>
					</div>
				</div>

			{% endfor %}
		</div>

		<div id="cart-empty" style="display:none">
			<h2>Your listing cart is currently empty. Please add products to import</h2>
		</div>

	</form>
</div>
