<div class="product-import-container">
	{% include 'template-parts/plan-details.twig' %}
	{% include 'template-parts/page-controls.twig' %}
	<form id="productImportForm">
		<div class="enlist-actions">
			<a href="{{gird_url}}">Add Products</a>
		</div>
		<div class="product-import-cart-list">
			{% for product in imported_products %}
				<div class="product-cart-item" product-sku="{{ product.sku }}">
					<div class="product-cart-item-details">
						<div class="product-cart-item-image">
							<img src="{{ product.image }}">
						</div>
						<div class="product-cart-desc">
							<div class="name">{{ product.name }}</div>
							<div class="sku">SKU:{{ product.sku }}</div>
							<div class="product-price">Product Price : ${{ product.original_price | number_format(2, '.', ',')  }}</div>
							<div class="enlist-price">Enlisting Price : ${{ product.price | number_format(2, '.', ',') }}</div>
							<div class="revenue-per-prod">Revenue Per Product : ${{ (product.price - product.original_price) * 0.90 | number_format(2, '.', ',')  }}</div>

							<div class="categories">CATEGORY:
								{{ product.categories }}</div>
						</div>
					</div>
					<div class="product-cart-item-action">
						<div class="listing-action">
							<button type="button" class="update-price" product-name="{{ product.name }}" sku="{{ product.sku }}" original-price="{{ product.original_price }}" price="{{ product.price }}">
								Update Price
							</button>
							<button type="button" class="remove-product" onclick="removeFromStore(this, '{{ product.sku }}')">Delete Listing</button>
						</div>
					</div>
				</div>

			{% endfor %}
		</div>
		{% if imported_products | length == 0 %}
			<div id="cart-empty">
				<h2>Your listing cart is currently empty. Please add products to import</h2>
			</div>
		{% endif %}
	</form>
</div>
